<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

		<title>test</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
