<!DOCTYPE html>
<html>
<head>
	<title>Test Prototype in Views</title>

	<!-- <script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	 

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

	<link href="../../MDB Pro/css/bootstrap.min.css" rel="stylesheet">

	<link href="../../MDB Pro/css/mdb.min.css" rel="stylesheet"> -->

   <!--  <script type="text/javascript" src="../../MDB Pro/js/jquery-3.1.1.min.js"></script> -->




    <!-- <script type="text/javascript" src="../../MDB Pro/js/tether.min.js"></script>

    <script type="text/javascript" src="../../MDB Pro/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../MDB Pro/js/mdb.min.js"></script>

  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/af.js"></script>

  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 -->
   <!--  <script type="text/javascript" src="../js/test.js"></script>
 -->

</head>

<style type="text/css">
	
	.main{
		margin-left: 100px;
		margin-top: 100px;
	}

	.md-form{
	
		margin-top: 30px;
		
	}


</style>

<body>
<h1>views</h1>
<h2>My dog barfed</h2>
{{user.id}}
{{tiffany}}
<a href="/login/facebook">Facebook</a>
<a href="/login/google">Google</a>
<!--Naked Form-->
<div class="card-block">

    <!--Header-->
    <div class="text-center">
        <h3><i class="fa fa-envelope"></i> Add your snippet</h3>
        <hr class="mt-2 mb-2">
    </div>

    <!--Body-->
    <br>

    <!--Body-->
    <div class="md-form">
        <i class="fa fa-user prefix"></i>
        <input type="text" id="snippet" class="form-control">
        <label for="form3"></label>
    </div>

    <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="category" class="form-control">
        <label for="form2"></label>
    </div>

    <form class="form-inline">

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio11" value="1">
            <label for="radio11">1</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio21" value="2">
            <label for="radio21">2</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio31" value="3">
            <label for="radio31">3</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio41" value="4">
            <label for="radio41">4</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio51" value="5">
            <label for="radio51">5</label>
        </fieldset>

    </form>
    

    <div class="text-center">
        <button class="btn btn-default" id="add-button">Submit</button>

    </div>

</div>
<!--Naked Form-->

<div id="content"></div>

</div>

<script type="text/javascript">
	
	$(document).ready(function(){

		viewing();


		// Question: What does this code do?
		$("#add-button").on("click", function(event) {
		  event.preventDefault();

		  var new_category = {

		    snippet: $("#snippet").val().trim(),
		    category: $("#category").val().trim(),
		    urgency: $("input[name='group1']:checked").val()
	

		  };

		  console.log(new_category);

		  // Question: What does this code do??
		  $.post("/api/add", new_category)
		  .done(function(data) {
		    console.log(data);

		    viewing();

		  });
		});
		
		function viewing(){

			$.get("/api/view", function(data) {
				  console.log(data);
				  console.log("hello");
				  $("#content").html("");

				  var table = $("<table>");

				  table.addClass("table");

				  table.appendTo("#content");

				  var thead = $("<thead>");

				  thead.appendTo(table);

				  var tr = $("<tr>");

				  tr.appendTo(thead);

				  var heading = ["#","Created","Snippet","Category" , "Urgency","Actions"];

				  for (let i = 0; i < heading.length; i++) {
				  	
				  	var th = $("<th>");

				  	th.text(heading[i]);

				  	th.appendTo(tr);

				  } // End of For Loop I
				  
				  var tbody = $("<tbody>");

				  tbody.appendTo(table);

				  for (let i = 0; i < data.length; i++) {

				  	var tr2 = $("<tr>");

				  	tr2.appendTo(tbody);
				  	
				  	let th = $("<th>");

				  	th.attr({
				  		"scope": i + 1
				  	});

				  	th.text(i);

				  	th.appendTo(tr2);

				  	let td_created = $("<td>");

				  	td_created.text(data[i].createdAt);

				  	td_created.appendTo(tr2);

				  	let td_category = $("<td>");

				  	let td_action = $("<td>");

				  	td_category.text(data[i].category);

				  	td_category.appendTo(tr2);

				  	td_action.appendTo(tr2);

				  	var a_edit = $("<a>");

				  	var i_edit = $("<i>");

				  	a_edit.attr({

				  		"class": "teal-text"

				  	});

				  	i_edit.attr({

				  		"class" : "fa fa-pencil"

				  	});

				  	var a_delete = $("<a>");

				  	var i_delete = $("<i>");

				  	a_delete.attr({

				  		"class": "red-text"

				  	});

				  	i_delete.attr({

				  		"class" : "fa fa-times"

				  	});

				  	a_edit.appendTo(td_action);
				  	i_edit.appendTo(a_edit);


				  	a_delete.appendTo(td_action);
				  	i_delete.appendTo(a_delete);

				  } // End of For Loop I
				  
		  	td.appendTo(tr2)
		  	
		  	td.append(' ' + data[i].Snippet.snippet);
		  	td.append(' ' + data[i].Snippet.importance);
		   // End of For Loop I


			  });

		 }



		 });
	

	// <table class="table">
	//     <thead>
	//         <tr>
	//             <th>#</th>
	//             <th></th>
	//             <th>First Name</th>
	//             <th>Last Name</th>
	//             <th>Username</th>
	//             <th>Actions</th>
	//         </tr>
	//     </thead>
	//     <tbody>
	//         <tr>
	//             <th scope="row">1</th>
	//             <td>
	//                 <fieldset class="form-group">
	//                     <input type="checkbox" id="checkbox1">
	//                     <label for="checkbox1"></label>
	//                 </fieldset>
	//             </td>
	//             <td>Ashley</td>
	//             <td>Lynwood</td>
	//             <td>@ashow</td>
	//             <td>
	//                 <a class="blue-text"><i class="fa fa-user"></i></a>
	//                 <a class="teal-text"><i class="fa fa-pencil"></i></a>
	//                 <a class="red-text"><i class="fa fa-times"></i></a>
	//             </td>
	//         </tr>
	//         <tr>
	//             <th scope="row">2</th>
	//             <td>
	//                 <fieldset class="form-group">
	//                     <input type="checkbox" id="checkbox2">
	//                     <label for="checkbox2"></label>
	//                 </fieldset>
	//             </td>
	//             <td>Billy</td>
	//             <td>Cullen</td>
	//             <td>@cullby</td>
	//             <td>
	//                 <a class="blue-text"><i class="fa fa-user"></i></a>
	//                 <a class="teal-text"><i class="fa fa-pencil"></i></a>
	//                 <a class="red-text"><i class="fa fa-times"></i></a>
	//             </td>
	//         </tr>
	//         <tr>
	//             <th scope="row">3</th>
	//             <td>
	//                 <fieldset class="form-group">
	//                     <input type="checkbox" id="checkbox3">
	//                     <label for="checkbox3"></label>
	//                 </fieldset>
	//             </td>
	//             <td>Ariel</td>
	//             <td>Macy</td>
	//             <td>@arielsea</td>
	//             <td>
	//                 <a class="blue-text"><i class="fa fa-user"></i></a>
	//                 <a class="teal-text"><i class="fa fa-pencil"></i></a>
	//                 <a class="red-text"><i class="fa fa-times"></i></a>
	//             </td>
	//         </tr>

	//     </tbody>
	// </table>



</script>

</body>
</html>