.fixed-action-btn {
    bottom: 45px; 
    right: 24px;
}

.content {
    margin-top: 30px;
    height: 50%;
    background-color: white;
}

.add_snippet {
    align-content: right;
}

body {
    margin-top: 50px;
    width: 100%;
    background-color: #EBF3FF
}

.filter {
    float: right;
}

.page-footer {
    height: 75px;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    background-color: #0788D9
}

button {
    font-family: 'Signika', sans-serif;
}

h1 {
    font-family: 'Signika', sans-serif;
}

h4 {
    font-family: 'Signika', sans-serif;
    text-align: center;
}