#grad {
    background: linear-gradient(to bottom right, #e3f2fd, #607d8b); /* Standard syntax */
    height: 1600px;
}

body {
    margin-top: 50px;

}

button {
    position: relative;
    //display:block;
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    color: #383736;
    border: 2px white solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    font-family: 'Signika', sans-serif;
    cursor:pointer;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

#modal_btn {
    float: right;
    font-size: 35px;
    display:block;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.0);
    color:grey;
    border: none;
    outline:none;
    font-family: 'Rubik', sans-serif;
}

.add_new_cat {
    font-family: 'Rubik', sans-serif;
}

.content {
    margin-top: 30px;
    height: 80%;
    background: rgba(250, 250, 250, 0.1);
    overflow:auto;
}

.add_snippet {
    align-content: right;
    margin-top: 10px;
}

.filter {
    margin-left: 90%;
}

h1 {
    font-family: 'Signika', sans-serif;
}

h4 {
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.login {
    float: right;
    margin-right: 10%;
    margin-top: -20px;
}

.field-wrap {
    background-color: white;
    margin: 5px;
}

.facebook_login {
    float: right;
    margin-top: -40px;
}

.categories {
    margin-top: 10px;
}